MONGODB_URI=
ADMIN_SESSION_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=Ubuntu Admin
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_BOOKING_TO_EMAIL=
NEXT_PUBLIC_CLOUD_KEY=
NEXT_PUBLIC_CLOUD_NAME=
NEXT_PUBLIC_CLOUD_PRESET=
NEXT_PUBLIC_CLOUD_KEY_SECRET=
